MONGODB_URI=mongodb+srv://christian:chris1206@cluster0.huch6vt.mongodb.net/epayco-wallet?appName=Cluster0
PORT=3000
JWT_SECRET=epayco-wallet-secret-key-2026
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=christiandmoraless@gmail.com
MAIL_PASS=ataicelqmcrmwlqt
MAIL_FROM="EPayco Wallet" <christiandmoraless@gmail.com>

